<a href="https://colab.research.google.com/github/alexiej/laboratory/blob/master/00_00_Python_basics_References.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 References

In Pythonn all is reference, and every it is creatted a new object

In [1]:
X = [1,2,3]
Y = [1,2,3]

print(X==Y) # TRue
print(X is Y) # False, not the same object

True
False

Number types, assign reference to the same object in the memory

In [0]:
X = 42
Y = 42

print(X==Y) # TRue
print(X is Y) # True - ten sam obiekt, poniewaz typy liczbowe przypisuja referencje do tego samego obiektu w pamiecoi

True
True

In [0]:
import sys
print(sys.getrefcount(1)) #Number of references to object 1
print(sys.getrefcount(42))  #Number of references to object 42, 42 is a number, and one of the refernce is X and Y.

X = 'AB'
Y = 'AB'
print(X==Y) #True
print(X is Y) #True, the same for the text we've got reference

15876
54
True
True

In [0]:
Y = [1,2,3]
print(sys.getrefcount(Y))

2

# Globals, locals

We've got global class `zip`, and local variable `zip`. The function operate on the local variable. But in the global we operate on global `zip`.

In [0]:
import builtins # buildin names, top space of the memmory
dir(builtins)

def zamien_zip():
    zip = 'hahah'
    print(zip)
    
zamien_zip() # 'hahah'
print(zip)  #'<class 'zip'>


X = 99
def funX():
    X = 88 # only local
    print(X)

funX(); print(X) # 88 99

hahah
<class 'zip'>
88
99

We can set `global` variable in the function so we can operate on the global `X`

In [0]:
X = 99
def funX2():
    global X
    X = 88
    print(X)
funX2(); print(X); # 88 88

88
88
34

In [0]:
try:
  del z; # z is not defined
except:
  pass

def fun3():
    global z
    z = 34
    print('z was defined and equal to', z)

try:
  print(z); # z is not defined
except NameError as e:
  print(e)
  
fun3(); print(z); # 34

name 'z' is not defined
z was defined and equal 34
34

# IMPORT Local, global variables, sys.modules

In [0]:
%%writefile script.py
"""
Dokuentacja do print.py

"""
print('hello world')

title = 'helo world'
title2 = 'mmma'


def fun(x):
    """
    Dokumentacja funkcji fun(x)
    """
    return x**2

class Employee:
    "dokumentacja klasy"
    pass

Overwriting script.py

In [0]:
!cat script.py

import script
import sys

print(script.title)
script.title = '123'
print(script.title)

glob = sys.modules['script']
glob.title = '431'
print(script.title)

"""
Dokuentacja do print.py

"""
print('hello world')

title = 'helo world'
title2 = 'mmma'


def fun(x):
    """
    Dokumentacja funkcji fun(x)
    """
    return x**2

class Employee:
    "dokumentacja klasy"
    pass123
123
431