<a href="https://colab.research.google.com/github/alexiej/laboratory/blob/master/1_0_1_Label_One_hot_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

%matplotlib inline

In [0]:
df = pd.DataFrame({
    'Cat': ['A','B','C','A','B']
})

In [4]:
df['Cat'].unique()

array(['A', 'B', 'C'], dtype=object)

In [8]:
df['Cat'].value_counts()

A    2
B    2
C    1
Name: Cat, dtype: int64

## 1.0 One Hot Encoding

In [19]:
pd.get_dummies( df['Cat'],prefix='cat' )

   cat_A  cat_B  cat_C
0      1      0      0
1      0      1      0
2      0      0      1
3      1      0      0
4      0      1      0

In [21]:
pd.concat([df, pd.get_dummies( df['Cat'],prefix='cat' )],axis=1)

  Cat  cat_A  cat_B  cat_C
0   A      1      0      0
1   B      0      1      0
2   C      0      0      1
3   A      1      0      0
4   B      0      1      0

# 2.0 Label Encoding

In [16]:
pd.factorize(df['Cat'])

(array([0, 1, 2, 0, 1]), Index(['A', 'B', 'C'], dtype='object'))

In [31]:
arr,index = pd.factorize(df['Cat'])
df['Cat_cat'] = arr
df

  Cat  Cat_cat
0   A        0
1   B        1
2   C        2
3   A        0
4   B        1

# 3.0 LabelEncoder

In [34]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df['Cat'])
le.transform(df['Cat'])

df['Cat_lab'] = le.transform(df['Cat'])
df

  Cat  Cat_cat  Cat_lab
0   A        0        0
1   B        1        1
2   C        2        2
3   A        0        0
4   B        1        1

# 4.0 Factorize all columns

In [48]:
df['me']= 'A'
import random

df['mu'] = [random.choice(['A','B','C']) for _ in range(len(df)) ]
cat_feats = df.select_dtypes(include=[np.object]).columns

for cat_feat in cat_feats:
    df['{0}_cat2'.format(cat_feat)] = pd.factorize( df[cat_feat] )[0]

df

  Cat  Cat_cat  Cat_lab  Cat_cat2 me  me_cat2 mu  mu_cat2
0   A        0        0         0  A        0  B        0
1   B        1        1         1  A        0  A        1
2   C        2        2         2  A        0  C        2
3   A        0        0         0  A        0  A        1
4   B        1        1         1  A        0  A        1