<a href="https://colab.research.google.com/github/alexiej/laboratory/blob/master/20_01_Keras_API_functional_Embedding_Layers_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%tensorflow_version 2.x

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import tensorflow as tf

print("Tensorflow version: ", tf.__version__)

!nvidia-smi

TensorFlow 2.x selected.
Tensorflow version:  2.1.0
Wed Feb 19 14:00:56 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.48.02    Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   54C    P8    10W /  70W |      0MiB / 15079MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

## 01 Define Embedding Layer

* usefull for t high cardinality categorical variable type of data, like day in the week, month in the year, team number, 
* Define input dimension as number of dimensions

More info: https://medium.com/@satnalikamayank12/on-learning-embeddings-for-categorical-data-using-keras-165ff2773fc9

In [29]:
!wget https://s3.amazonaws.com/tripdata/201307-citibike-tripdata.zip
!unzip -o 201307-citibike-tripdata.zip

import pandas as pd
data = pd.read_csv('2013-07 - Citi Bike trip data.csv')
data['weekday'] = pd.to_datetime(data['starttime']).dt.dayofweek
data.head()

--2020-02-19 14:30:34--  https://s3.amazonaws.com/tripdata/201307-citibike-tripdata.zip
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.143.190
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.143.190|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 27074629 (26M) [application/zip]
Saving to: ‘201307-citibike-tripdata.zip.3’

201307-citibike-tri 100%[===================>]  25.82M   106MB/s    in 0.2s

2020-02-19 14:30:35 (106 MB/s) - ‘201307-citibike-tripdata.zip.3’ saved [27074629/27074629]

Archive:  201307-citibike-tripdata.zip
  inflating: 2013-07 - Citi Bike trip data.csv

   tripduration            starttime  ... gender  weekday
0           634  2013-07-01 00:00:00  ...      0        0
1          1547  2013-07-01 00:00:02  ...      0        0
2           178  2013-07-01 00:01:04  ...      2        0
3          1580  2013-07-01 00:01:06  ...      0        0
4           757  2013-07-01 00:01:10  ...      1        0

[5 rows x 16 columns]

In [0]:
# Imports
from keras.layers import Embedding
from numpy import unique

# Count the unique number of teams
n_stations = unique(data['start station id']).shape[0]

team_lookup = Embedding(input_dim=n_teams,
                        output_dim=1,
                        input_length=1,
                        name='Team-Strength')

In [11]:
n_stations

329